 <h2>クリニック申し込み確認</h2>

 <div>
  <h3>クリニック名</h3>
  <p><%= @clinic.name %></p>

  <h3>クリニック電話番号</h3>
  <p><%= @clinic.phone %></p>

  <h3>氏名</h3>
  <p><%= @clinic.staffs.first.name %></p>

  <h3>メールアドレス</h3>
  <p><%= @clinic.staffs.first.email %></p>
  
 <div>